{$DOMAIN_NAME} {
    reverse_proxy /api* http://api:8000
    reverse_proxy /* http://frontend:8080

    log {
        output stdout
    }
    encode gzip

    header / Strict-Transport-Security "max-age=63072000"
}